.date-range-picker, .holiday-picker, .schedule-picker {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  align-items: center;
}

.schedule-container {
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
}

.header, .content {
  display: flex;
  flex-direction: column;
}

.date-axis {
  display: flex;
}

.date-axis .empty-cell, .date-axis div {
  width: 103px;
  text-align: center;
}

.date-row {
  display: flex;
  position: relative;
}

.date-cell {
  width: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.time-cell {
  width: 100px;
  min-height: 100px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  height: 100px; /* Assuming each time slot is 100px in height */
}

.items-wrapper {
  width: 100%;
}

.holiday {
  width: 65%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.holiday .title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  margin-top: 1vh;
}

.holiday .title h1,
.holiday .title p {
  margin: 0;
}

.time-cell.cdk-drag-preview {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.time-cell.cdk-drag-placeholder {
  opacity: 0;
}

.holiday-row {
  background-color: #d3d3d3;
  width: fit-content;
}

.holiday-cell {
  background-color: #d3d3d3;
}

.attendant {
  background-color: #8BC34A; /* Green */
  color: white;
  padding: 8px;
  border-radius: 4px;
  margin: 2px;
}

.aesthetician {
  background-color: #E91E63; /* Pink */
  color: white;
  padding: 8px;
  border-radius: 4px;
  margin: 2px;
}

.scheduleItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  gap: 2rem;
  position: absolute;
  top: 0; /* Position items at the top of their cells */
}

.scheduleItem .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scheduleItem .pro-pic {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.scheduleItem .pro-pic img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

.scheduleItem .pro-pic h1 {
  font-weight: bold;
  font-size: 14px;
}

.scheduleItem .time-range {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.scheduleItem .time-range span {
  font-size: 12px;
}
